<div mat-dialog-content style="height:150px;padding:10px;text-align:center;overflow:hidden;">
    <p style="font-weight: 500;">You're not logged in</p>
 <div *ngIf="!($logState | async)">
  <div mat-dialog-actions>
    <button mat-button (click)="No_Login()" style="background-color:lightblue">Continue without login</button>
    <button mat-button (click)="Yes_Login()" style="background-color:lightgrey" >Sign in / Sign up</button>
  </div>
 </div>
  <div *ngIf="($logState | async)" >
    <div class="d-flex justify-content-center" 
         style="padding-top: 15%; margin-bottom: 10%;">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>
  </div>
  <div *ngIf="($dialogError | async)" style="margin-top: 6%;">
      <p style="margin-bottom: 0;font-size: 14px;;font-weight: 500;color: red;"> something went wrong, try later</p>
  </div>
</div>