section {
    min-height: 100vh;
    height: auto;
    padding-bottom: 0%;
}

.searchDiv {
    width: 90%;
    margin-left: 5%;
    display: flex;
}

/*Media Query*/

@media(max-width:1000px)
{
    #maindiv
    {
        width:100%;
    }
    button {
        font-size: 16px;
    }
    input {
        font-size: 16px;
    }
    .searchDiv {
        font-size: 16px;
    }
    .c1
    {
        width: 70%;
        margin-right: 5%;
    }
}