<section> 
<div style="width: 90%; margin-left: 5%; margin-top: 25%;">
    <app-o-shop-carousel></app-o-shop-carousel>
</div>
<div id="maindiv">
    <div class="searchDiv">
        <div class="c1">
            <p>
                <input type='text'
                       placeholder="search your products"
                       #search
                       [(ngModel)]='searchValue'
                       class="form-control"
                       >
            </p>
        </div>
        <div class="c2">
            <button class="btn btn-secondary" >
                <a style="text-decoration: none; color: white;" 
                   [routerLink]="['/o-shop/search-product']"
                   [queryParams]="{searchKey:searchValue}"
                   >Search</a></button>
        </div>
    </div>

    <div class="categoryDiv">
        <div *ngIf="$showSpinnerCategory | async" class="d-flex justify-content-center" style="padding-top: 20%;">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>

        <div *ngIf="$ErrorCategory | async" style="font-size: 14px!important; 
                                                color: red;
                                                font-weight: 500!important;
                                                padding-top: 20%;
                                                display: block;">
            <p style="text-align: center;margin-bottom: 0!important;">{{$showErrorCategory | async }} <span><mat-icon style="color: red;">warning</mat-icon></span></p>
            <p style="text-align: center; color: black;margin-bottom: 0!important;">Please refresh the browser and accept cookies</p>
        </div> 

        <div *ngIf="showCategoryData">
            <app-oshop-category [categoryList]="categoryList"
                                [categoryParamsValue]="categoryParamsValue"
                                (customevent)="onclickEvent($event)"></app-oshop-category>
        </div>
    </div>

    <div style="width: 90%;margin-left: 5%">
        <div *ngIf="$showSpinnerProducts | async" class="d-flex justify-content-center" style="padding-top: 50%;">
            <div class="lds-facebook"><div></div><div></div><div></div></div>
        </div>
        
        <div *ngIf="$ErrorProducts | async" style="font-size: 14px!important; 
                                                color: red;
                                                font-weight: 500!important;
                                                padding-top: 50%;
                                                display: block;">
            <p style="text-align: center;margin-bottom: 0!important;">{{$showErrorProducts | async }} <span><mat-icon style="color: red;">warning</mat-icon></span></p>
            <p style="text-align: center; margin-bottom: 0!important;color: black;">Please refresh the browser and accept cookies</p>
        </div>

        <div *ngIf="showProductsData">
            <app-oshop-list  [productLists]="filterProductList"></app-oshop-list>
        </div>
    </div>
</div>
</section>