<section style="height: 100vh;">
    <div class="loadspinner" *ngIf="($logState | async)">
        <mat-progress-spinner [diameter]="40" mode="indeterminate"></mat-progress-spinner>
    </div>
    <div class="row" *ngIf="!($logState | async)" >
        <div class="col-12" *ngIf="$orderList | async as orderlist">
            <div *ngIf="orderlist.orderList.length === 1; else showdata" style="width: 90%; margin-left: 5%;">
                <h5>No Orders to Display</h5>
                <div class="formgrouptwo">
                    <button class="btn btn-secondary" 
                            style="padding: 5px;"
                            [routerLink]="['/o-shop']">Continue Shopping<span>
                        <mat-icon>shopping_cart</mat-icon>
                    </span></button>
                    <button class="btn btn-secondary"
                            style="padding: 5px;"
                            [routerLink]="['/login']"
                            >Login<span>
                        <mat-icon>person</mat-icon>
                    </span>
                    </button>
                </div>
            </div>
            <ng-template #showdata>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody > 
                        <tr *ngFor="let itemlist of orderlist.orderList | paginate: { itemsPerPage: 11, currentPage: p } ; index as i">
                            <td *ngIf="i >0">orderX0{{i}}</td>
                            <td *ngIf="i >0">{{itemlist.orderDate | date:'shortDate'}}</td>
                            <td *ngIf="i >0" > 
                                <a class="btn-btn-primary" [routerLink]="['/order/user-order-preview',itemlist.id]">view order</a>
                            </td>
                            <td *ngIf="i >0">
                                <a class="badge badge-pill badge-danger" (click)="deleteOrder(itemlist.id)">delete order</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="position: relative; font-size:15px;text-align:center; display:inline-block; width:100%">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </ng-template>
        </div>
    </div>
    <div *ngIf="($errorCheck | async)" class="errorLogin">
        <label style="font-size: 16px;font-weight: 500;">{{$errorStatus | async}} <span>
            <mat-icon style="color: red;">warning</mat-icon>
        </span></label>
    </div>
</section>