.row
{
    margin-top: 30%;
    font-size: 16px;
}
a
{
    cursor: pointer;
}
.formgrouptwo
{
 text-align: center;
 padding-top: 5%;
 display: flex;
 justify-content: space-evenly;
}
.mat-icon
{
    transform: translateY(5px);
}
@media(max-width:1000px)
{
    th,td
    {
        padding: 5px!important;
    }
    .loadspinner
    {
        margin-top: 100%;
        margin-left: 45%;
        width: 10%;
    }
    .errorLogin
    {
        margin-top: 5%;
        margin-left: 10%;
        width: 80%;
        text-align: center;
    }

}