<section class="section-one" id="home">
    <div>
        <h2>
            Welcome to the STORE
        </h2>
    </div>
    <div class="row-center">
        <p class="main-content">
            Vinayaka Trader Group is a store home of vintage store of Indian Oils, Seeds and Seed Powders, Our fundamentals are focused to deliver classical Indian Oils
            and various organic seed powders for Agricultural, small cap farming curves, it's offered at affordable price tag, submit all your queries on the available products in query section, we will reach you back within 24 Hours and enjoy benefits at ease.
        </p>
        <p>
            We are continuing our business in this field, with a legacy of 25 years (established in 1996). And now we started up to the ecommerce digital platform to expand our services beyound the 
            boundaries.
        </p>
    </div>
    <div class="row-center content-screen">
        <div class="col span-1-of-4 sub-content">
            <ion-icon name="business-outline"></ion-icon>
            <h3>
                Export &#38; Import
            </h3>
            <p>
                We export &#38; import products on small, mid and high volumes, reach to us by email/mobile 
                oe send us the query form on large scale business queries.
            </p>
        </div>
        <div class="col span-1-of-4 sub-content">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <h3>
                Trusted
            </h3>
            <p>
                All products are verified to meet the standards. 
                Business offerings with us are trusted to build stable customer relationship, and we live on this motto.
            </p>
        </div>
        <div class="col span-1-of-4 sub-content">
            <ion-icon name="cart-outline"></ion-icon>
            <h3>
                Order now pay later
            </h3>
            <p>
                We offer order now pay later feature on this ecommerce-platform, a simple click on order button without nay payment gateway.
                Our Team will reach you through mentioned mobile to re-check &#45; conforms the order.
                Post you can pay us throught UPI, Net banking or COD.
            </p>
        </div>
        <div class="col span-1-of-4 sub-content">
            <ion-icon name="logo-usd"></ion-icon>
            <h3>
                Remarkable price rates
            </h3>
            <p>
                we stand to offer all the products at sensible price and ensures to build trust and gratification
                to a great extent
            </p>
        </div>
        <div class="col span-1-of-4 sub-content">
            <ion-icon name="card-outline"></ion-icon>
            <h3>
                Contact-Us
            </h3>
            <p>
                For any small, mid and large scale business queries, please reach to us
            </p>
            <div class="contact-form"> 
                <p><span><mat-icon>business</mat-icon> </span> Exported by : Sri Vinayaka Traders</p>
                <p><span><mat-icon>business_center</mat-icon> </span> Established : 1995 (25 Years)</p>
                <p><span><mat-icon>location_on</mat-icon> </span>Location : Andhra Pradesh, India</p>
                <p><span><mat-icon>phone</mat-icon> </span> +91 9000083255</p>
                <p><span><mat-icon>contact_mail</mat-icon> </span> vinayakatradergroup@gmail.com</p>
            </div>
        </div>
    </div>
</section>