
.section-seven-title h2 {
    font-size: 150%;
    font-weight: bold;
    word-spacing: 3px;
    letter-spacing: 1px;
    width: 50%;
    margin-left: 5%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.section-seven-title h2::after {
    all: unset;;
}
form {
    width: 50%;
    margin-left: 5%;
}
input[type=text],
input[type=email],
input[type=number],
input[type=password],
select, 
textarea {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 18px;
    padding: 5px;
}
input[type=radio] {
    margin-right: 10px;
}
input[type=submit] {
    background-color: #EE5A24;
    border: 1px #EE5A24;
    padding: 5px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    width: 20%;
    margin-right: 5%;
}
input[type=submit]:hover {
    cursor: pointer;
    padding-right: 5px;
}
textarea {
    height: 100px;
}
.col {

    width: 50%;
    padding: 5px 0;
    font-size: 18px;
}
.subDIV {display: flex;}

/*Media Query for Sign-Up form*/

@media(max-width:1000px)
{
    * {
        font-size: 16px!important;
    }
    .section-seven {
        height: auto;
        padding-bottom: 0%;
    }
    .section-seven-title h2 {
        font-size: 105%;
        width: 60%;
    }
    form {
        width: 90%;
        margin-left: 5%;
    }
    input[type=submit] {
        width: 40%;
    }
    .alert,.custom-error {
        transform: translateX(-50%);
        width: 200%;
        text-align: center;
        margin-top: 10px;
        padding: 0px;
        margin-bottom: 0px;
    }
}

.custom-error 
{
    color: red;
    font-weight: 700;
    font-size: 16px;
    padding-top: 5px;
    text-align: center;
}