<div>
    <div *ngIf="$showSpinnerProducts | async" class="d-flex justify-content-center" 
         style="padding-top: 15%; margin-bottom: 10%;">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div *ngIf="$ErrorProducts | async" style="font-size: 14px!important; 
                                            color: red;
                                            font-weight: 600!important;
                                            padding-top: 20%;
                                            margin-bottom: 10%;
                                            display: block;">
        <p style="text-align: center;margin-bottom: 0!important;">{{$showErrorProducts | async }} <span><mat-icon style="color: red;">warning</mat-icon></span></p>
        <p style="text-align: center; margin-bottom: 0!important;color: black;">Please refresh the browser and accept cookies</p>
    </div>

    <div *ngIf="showProductsData">
        <div id="carousel"></div>
    <div  class="owl-carousel owl-theme" id="owl-show-carousel">
        <div class="card" *ngFor="let item of filterList">
            <div >
                <img [src]="item.thumbnailImage" alt="item.productID" class="card-img-top" 
                 style="width:100%;height:100px; object-fit: cover;">
            </div>
            <div class="card-body">
                <h6 class="card-title">{{item.product}}</h6>
                <h6 class="card-text">{{item.varients.quantity}} : {{item.varients.price | currency:'INR'}}</h6>
            </div>
            <div class="card-footer">
                <button class="btn">
                    <a style="color: white!important;" (click)="scroll()" [routerLink]="['/view-product',item.productID]">
                    click to view
                    </a>
                </button>
            </div>
        </div>
    </div>
    </div>
</div>