section
{
    height: auto;
    min-height: 100vh;
    padding-bottom: 0%;
}
.main-body
{
    margin-top: 30%;
}
.btn-danger,.btn-success
{
    background-color: teal;
    border: 2px solid teal;
}

.backgroundSource
{
    height: 50px;
    width: 50px;
    background-size: cover;
    border-radius: 100%;
}

.formgrouptwo
{
 text-align: center;
 padding-top: 5%;
 display: flex;
 justify-content: space-evenly;
}

.mat-icon
{
    transform: translateY(5px);
}
/*Media Query*/

@media(max-width:1000px)
{
    h5
    {
        font-size: 16px;
    }
    button 
    {
        font-size: 16px;
        padding: 0px;
    }
    .table th, .table td {
        padding: 5px !important;
    }
    table 
    {
        font-size: 16px!important;
    } 
    .btn 
    {
        font-size: 16px!important;
        padding: 0px;
    }
    p
    {
        margin-bottom: 0px;
    }
}