<section class="section-three">
    <div *ngIf="type == 'order'" class="section-three-main-content" >
        <span>Now it's easy to place an order enquiry</span>
    </div>
    <div *ngIf="type == 'home'" class="section-three-main-content" >
        <span>Now it's easy to order <mat-icon style="font-size: 30px; transform: translateY(5px);">
              add_shopping_cart</mat-icon></span>
    </div>
    <div class="section-three-content" 
        style="border-radius: 20px;
                padding: 10px;
                background-color: antiquewhite;
                box-shadow: 0px 0px 3px 3px darkgrey;">
        <div class="section-three-number">
            <div><span>1</span></div>
            <p>Search, find and load your product items to the cart</p>
        </div>
        <div class="section-three-number">
            <div><span>2</span></div>
            <p>Submit your cart details as an order enquiry without payment</p>
        </div>
        <div class="section-three-number">
            <div><span>3</span></div>
            <p>Our Team will reach you within 24 hours</p>
        </div>
        <div class="section-three-number">
            <div><span>4</span></div>
            <p>Talk to our team for more details, on conforming the order 
                we will send payment and shipping details through SMS.
            </p>
        </div>
        <div class="section-three-number">
            <div><span>5</span></div>
            <p>Pay the cart total amount through UPI, Net Banking or Pay 
                at the time of delivery (COD).
            </p>
        </div>
        <div class="section-three-number">
            <div><span>6</span></div>
            <p>It's simple, Order now Pay later. For large scale business queries, please send us the enquiry form 
                or contact us by mobile/email. </p>
        </div>
    </div>
</section>