.card-footer
{
    padding: 0%;
}
.card
{
    margin: 20px 5px;
    width:50%;
    float: left;
}
.card-footer
{
    height: 40px;
}
button
{
    width: 100%;
}

/*Media Query*/

@media(max-width:1000px)
{
    button,h6 { font-size: 14px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
    .card {
        margin: 20px 8px;
        width: 45%;
        float: left;
    }
    .card-body {
        padding: 10px;
    }

}