/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.css';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
html,body {
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row-center {
    width: 100%;
    padding: 0 30px;
}  
h1 {
    margin: 0;
    font-size: 200%;
    font-weight: 300;
    word-spacing: 3px;
    letter-spacing: 1px;
}
h2 {
    font-size: 150%;
    font-weight: bold;
    word-spacing: 3px;
    letter-spacing: 1px;
    width: 360px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h2::after {
    display: block;
    height: 5px;
    background-color: #cf4310;
    content: " ";
    margin-top: 20px;
}
h3 {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-transform: uppercase
}
.header-title-content h1 {
    color: white;
}


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif; }


/*for screen size compatability*/

.block-screen
{
    margin-top: 30%;
}
.custom-messageOne
{
    text-align: center;
    color:black;
}
.custom-messageTwo
{
    text-align: center;
    color:black;
    font-weight: bold;
}

@media(min-width:501px)
{
    .allow-screen
    {
        display: none;
    }
    .block-screen
    {
        display: initial;
    }
}

@media(max-width:355px)
{
    .allow-screen
    {
        display: none!important;
    }
    .block-screen
    {
        display: initial!important;
    }
}

@media(max-width:500px)
{
    .allow-screen
    {
        display: initial;
    }
    .block-screen
    {
        display: none;
    }
}