<section style="padding-bottom: 50%; height: 100vh;">
    <div class="ordersuccess">
        <div>
            <p>Order enquiry request successful<span>
                <mat-icon style="font-size: 30px;
                                transform: translateY(5px);
                                color: green;">thumb_up_alt</mat-icon>
            </span></p>
            <div class="button">
                <button><a class="btn" routerLink="/home"><ion-icon name="home-outline"></ion-icon></a></button>
            </div>
        </div>
    </div>
</section>