
.ordersuccess
{
        width: 90%;
        font-weight: 500;
        padding-top: 80%;
        margin: 0 5%;
        display: grid;
        justify-content: center;
}
.button
{
    margin-top: 5%;
    display: grid;
    justify-content: center;
}
button { outline: none;  border: 0;}
a
{
    background-color:  #EE5A24;
    border: 2px solid  #EE5A24;
    border-radius: 25px;
}
